/nbproject/*
/bin/*
/temp/*
/php/*
/exportaciones/*
/proyectos/*
!/proyectos/mocovi_dev/
/instalacion/*
!/instalacion/i__desarrollo/
/instalacion/i__desarrollo/*
!/instalacion/i__desarrollo/p__mocovi_dev/
/www/*
/PROYECTO
/entorno_toba_2.6.sh
/notas_version.txt
/VERSION
/bk/
/instalacion/i__desarrollo/p__mocovi_dev/logs/