/bin/*
/temp/*
/php/*
/exportaciones/*
/proyectos/*
!/proyectos/mocovi_dev/
/instalacion/*
!/instalacion/i__desarrollo/p__mocovi_dev/
/www/*
/PROYECTO
/entorno_toba_2.6.sh
/licencia.txt
/notas_version.txt
/VERSION
